@charset "utf-8";
/* CSS Document */
* { margin: 0; padding: 0; font-size: 100%;}
body { position: relative;}
.gm_bg { width: 100%; min-width: 320px; max-width: 640px; margin: 0 auto;}
.gm_bg img { width: 100%;}
.gm_box { width: 100%; min-width: 320px; max-width: 640px; margin: 0 auto; position: relative; overflow: hidden;}
.gm_time { width: 110px; height: 70px; background: url(../images/gm_time.png) no-repeat; position: absolute; right: 10px; font-size: 34px; color: #fff; top: 10px; line-height: 85px; padding-left: 80px; background-size: 100%;  }
.gm_score { width:80px; height: 70px; background: url(../images/gm_score.png) no-repeat; position: absolute; left: 10px; font-size: 34px; color: #fff; top: 10px; line-height: 85px; padding-left: 85px; background-size: 100%; }
.gm_ball { width: 100%; height: 0; position:relative;}
.gm_ballbox { position: absolute; width: 29%;}
.gm_ballbox i { display: block; width: 100%; font-size: 36px; color: #ffd92c; font-style: normal; text-align: center; font-weight: bold;  }
.gm_ball img { width: 100%; }
.game_num img { width: 33%; display: block; margin: 200px auto; }
.sc_num { width: 100%; height: auto;  position: absolute; left: 0; top: 40%; text-align: center;}
.sc_num p { width: 100%; text-align: center; font-size: 28px; color: #9e0000;}
.sc_num p i { font-style: normal; color: #9e0000; padding: 0 5px; margin-bottom: 20px;}
.sc_btn  { margin-top: 20px;}
.sc_btn img { margin: 0 10px; width: 24%;}
/*游戏开始页*/
.start { width: 100%; max-width: 640px; min-width: 320px; margin: 0 auto; position: relative; overflow: hidden;}
.startpic { width: 100%; height: auto;}
.startpic img { width: 100%; display: block;}
.start img.startbg { width: 100%; display: block;}
.startbtn { width: 100%; max-width: 640px; min-width: 320px; position: relative;}
.stb_ctn { width: 100%; max-width: 640px; min-width: 320px; position: absolute; left: 0; top: 0; }
.stb_ctn p { width: 100%; font-size: 22px; color: #fff; text-align: center;}
.st_start { display: block; width: 55%; margin: 10px auto;}
.st_start img,.st_try img { width: 100%;}
.st_link { width: 100%; text-align: center;}
.st_link a { display: inline-block; width: 28%; vertical-align: middle; margin: 20px 30px 0;}
.st_link a img { width: 100%;}
.startfont { width: 100%; max-width: 640px; min-width: 320px; position: relative; }
.startfont p { width: 90%; display: block; padding: 0 5%; position: absolute; left: 0; top: 0; color: #fff; font-size: 17px; line-height: 24px;}
.startfont p i { display: block; padding-bottom: 10px;}
.start_name { width: 100%; max-width: 640px; min-width: 320px; height: 2000px; position: absolute; top: 0; left: 0;background-color:rgba(0,0,0,0.5);}
.sn_info { position: absolute; top: 10%; }
.sn_info .sn_i_mainpic { display: block; width: 85%; margin: 0 auto; }
.sn_i_close { display: block; width: 6.2%; position: absolute; right: 12%; top: 0;}
.sn_i_ip { width: 100%; height: auto;  position: absolute; left: 0; top: 40%; text-align: center;}
.sn_i_ip input { display: block; width: 48%; height: 28px; border-radius: 5px; outline: none; text-align: center; font-size: 14px; margin: 0 auto 15px; }
.sn_i_ip a { display: inline-block; width: 22.5%; background-size: 100%; margin: 0 auto;}
.sn_i_ip a img { width: 100%;}
/*活动首页*/
.main { width: 100%; max-width:  640px; min-width: 320px; margin: 0 auto; font-size: 0; position: relative; overflow: hidden;}
.mainpic { width: 100%;}
.mainpic img { width: 100%; }
.mainbtn { width: 100%; position: relative;  }
.mainbtn img { width: 100%;}
.mainfont img { width: 100%;}
.mainbtn .mb_ctn { position: absolute; top: 0; left: 0;width: 100%;}
.mainbtn .mb_ctn a img { width: 42%; display: block; margin: 50px auto;}
.mainbtn .mb_ctn .mb_title { width: 40%; margin-left: 20px;}
.main .mainfont { position: relative; width: 100%;}
.main .mainfont img { width: 100%; display: block; }
.main .mainfont .mf_box { width: 100%; position: absolute; }
.main .mainfont p {  width: 90%; margin: 0 auto; font-size: 24px; color: #fff; line-height: 38px; padding-top:10px; }
/*排行榜*/
.rank { width: 100%; max-width: 640px; min-width: 320px; background: url(../images/rank_bg.gif) repeat-y; background-size: 100%; margin: 0 auto;}
.rank_main { width: 100%; position: relative;}
.rank_main img.rm_main { width: 100%;}
.rank_main .rm_btn {  width: 100%; position: absolute; left: 0; bottom: 0;}
.rank_main .rm_btn  img { width: 20%; display: block;  margin: 0 auto 20px;}
.rank_list { width: 100%; height: auto; margin: 0 auto; padding-bottom: 20px; }
.rank_list table { width: 90%; background: rgba(0,0,0,0.2); padding: 20px 5%; margin: 0 auto; border-radius: 8px; }
.rank_list table td { font-size: 17px; color: #fff; text-align: center; padding: 10px 0;}
.rank_list table thead td { border-radius: 8px; background:#ac3535; }
.rank_list table td { border-bottom: 1px solid #ab3333; }
.rank_list a img { width: 28%; display: block; margin: 20px auto 0;}
/*二维码*/
.main_code { width: 100%; position: absolute; left: 0; top: 0; height: 2000px; }
.mc_ctn { width: 100%; height: auto; position: absolute; left: 0; top: 10%;}
.mc_ctnbox { width: 66%; height: auto; background: rgba(0,0,0,0.5); position: relative; margin: 0 auto; padding: 50px 0;}
.mc_ctnbox .sn_i_close { right: 20px; top: 20px; width: 10%;}
.mc_ctnbox .sn_i_close img { width: 100%;}
.mc_ctnbox p  { width: 80%; margin: 0 auto;}
.mc_ctnbox p img { width: 100%;}
.mc_ctnbox img.mc_codepic { display: block; width: 45%; margin: 20px auto 0;}
@media only screen and (max-width: 420px) {
	.gm_time { width: 70px; padding-left: 45px; font-size: 22px; height: 40px; line-height: 48px;}
	.gm_score { width: 50px; height: 40px; line-height: 48px; font-size: 22px; padding-left: 44px;}
	.sn_i_ip input  { height: 22px; font-size: 12px; margin: 0 auto 5px;}
	.mainbtn .mb_ctn a img { margin: 20px auto;}
	.main .mainfont p { font-size: 16px; line-height: 28px;}
	.rank_list table td  { font-size: 13px;}
}