<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.GMedalMapper" >
  <resultMap id="BaseResultMap" type="com.model.GMedal" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="need_point" property="needPoint" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, need_point
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from g_medal
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from g_medal
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.GMedal" >
    insert into g_medal (id, name, need_point
      )
    values (g_medal.nextval, #{name,jdbcType=VARCHAR}, #{needPoint,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.model.GMedal" >
    insert into g_medal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      g_medal.nextval,
      <if test="name != null" >
        name,
      </if>
      <if test="needPoint != null" >
        need_point,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="needPoint != null" >
        #{needPoint,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.GMedal" >
    update g_medal
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="needPoint != null" >
        need_point = #{needPoint,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.GMedal" >
    update g_medal
    set name = #{name,jdbcType=VARCHAR},
      need_point = #{needPoint,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>