<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.GUserMedalClickMapper">
  <resultMap id="BaseResultMap" type="com.model.GUserMedalClick">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="medalId" jdbcType="BIGINT" property="medalid" />
    <result column="wxId" jdbcType="VARCHAR" property="wxid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, medalId, wxId, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from g_user_medal_click
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from g_user_medal_click
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.model.GUserMedalClick">
    insert into g_user_medal_click (id, medalId, wxId,
      create_time)
    values (u_m_c_seq.nextval, #{medalid,jdbcType=BIGINT}, #{wxid,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.model.GUserMedalClick">
    insert into g_user_medal_click
    <trim prefix="(" suffix=")" suffixOverrides=",">
      u_m_c_seq.nextval,
      <if test="medalid != null">
        medalId,
      </if>
      <if test="wxid != null">
        wxId,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="medalid != null">
        #{medalid,jdbcType=BIGINT},
      </if>
      <if test="wxid != null">
        #{wxid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.GUserMedalClick">
    update g_user_medal_click
    <set>
      <if test="medalid != null">
        medalId = #{medalid,jdbcType=BIGINT},
      </if>
      <if test="wxid != null">
        wxId = #{wxid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.GUserMedalClick">
    update g_user_medal_click
    set medalId = #{medalid,jdbcType=BIGINT},
      wxId = #{wxid,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>